.modal__input,
.modal__label,
.modal__label_type_radio,
.modal__legend,
.modal__submit,
.modal__title,
.modal__alternateButton {
  font-family: var(--font-family-cabinet);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: 20px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 28px;
  border-style: none;
  padding: 0;
  margin: 0;
  height: 20px;
  background: transparent;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__input {
  display: block;
  width: 100%;
  margin: 8px 0 0;
  padding: 0 0 4px;
  border-style: none;
  border-bottom: 1px solid;
}

.modal__label {
  margin: 24px 0 0;
}

.modal__label_type_radio {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.5);
  transition: color 0.3s;
  margin: 0;
}

.modal__legend {
  margin: 0 0 12px;
}

.modal__opened {
  visibility: visible;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.modal__radio-input {
  margin-right: 8px;
}

.modal__radio-input:checked + .modal__label_type_radio {
  color: #000000;
}

.modal__radio-input:checked {
  accent-color: #000000;
}

.modal__radio-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 8px;
}

.modal__submit {
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  white-space: nowrap;
  display: inline-block;
  margin: 26px 0 0;
  width: auto;
  text-align: center;
  align-self: flex-start;
  border-radius: 4px;
  border-style: none;
}

.modal__title {
  margin: 0;
}

.modal__submit_valid {
  background-color: #000;
  cursor: pointer;
}

.modal__submit_valid:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit_invalid {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: not-allowed;
}

.modal__error {
  color: #ff4d00;
  display: block;
  margin-top: 5px;
}

.modal__alternateButton {
  border-style: none;
  background: transparent;
  margin-left: 10px;
  color: rgba(0, 0, 0, 0.3);
}

.modal__buttons-group {
}
