.toggle-switch {
  cursor: pointer;
  width: 56px;
  height: 28px;
  box-shadow: inset 0 0 0 2px #7e7e7e;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__circle {
  background-color: #000;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  top: 0px;
  left: 0px;
  transition: all 0.2s;
}

.toggle-switch__text {
  position: absolute;
  top: 5px;
  color: #7e7e7e;
  font-size: 14px;
  font-weight: 700;
}

.toggle-switch__text_F {
  left: 9px;
}

.toggle-switch__text_C {
  right: 9px;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
  left: 28px;
}
