.ItemCard {
  position: relative;
  margin: 0;
  padding: 0;
  width: 325px;
  height: 328px;
  display: flex;
  justify-content: center;
}

.ItemCard__title {
  height: 24px;
  padding: 2px 12px;
  background-color: #fff;
  margin: 0;
  font-family: var(--font-family-cabinet);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
  display: inline;
  border-radius: 4px;

  color: rgba(0, 0, 0, 0.6);
}

.ItemCard__image {
  object-fit: cover;
  box-sizing: border-box;
  width: 325px;
  height: 328px;
  border-radius: 19px;
  border: 1px solid;
}

.ItemCard__title_group {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 15px;
}

.ItemCard__likeIcon {
  width: 18px;
  top: 15px;
}
