.weather-card {
  position: relative;
  display: flex;
  height: 80px;
  overflow: hidden;
}

.weather-card__temp {
  font-family: var(--font-family-cabinet);
  font-size: var(--font-size-xxl);
  line-height: 40px;
  margin: 0px;
  position: absolute;
  top: 20px;
  left: 16px;
  color: #fff;
}

.weather-card__image {
  object-fit: contain;
  object-position: right top;
  width: 100%;
}
