.page {
  background-color: #f3f3f3;
  font-family: var(--font-family-cabinet);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-medium);
  font-display: swap;
  font-style: normal;
  line-height: 1.5;
}

.page__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
