.MainCards {
  width: 100%;
  height: 100%;
}

.MainCards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  margin: 0 0 60px;
  padding: 0;
  list-style-type: none;
}

.MainCards__text {
  font-family: var(--font-family-cabinet);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: 1;
}
