.MainCards {
  width: 100%;
  height: 100%;
}

.MainCards__list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
  margin: 0 0 171px;
  padding: 0;
  list-style-type: none;
}

.MainCards__text {
  font-family: "CabinetGrotesk-Bold";
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
}
