.header__date-and-location,
.header__add-clothes-btn,
.header_username,
.header__logIn-btn,
.header__signUp-btn {
  font-family: var(--font-family-cabinet);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  border-style: none;
  background-color: transparent;
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin-left: 20px;
}

.header__toggleSwitch {
  margin: 0 0 0 auto;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 20px;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__logIn-btn {
  margin-left: 20px;
  padding: 0;
}

.header__signUp-btn {
  margin-left: 20px;
  padding: 0;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  border-radius: 50px;
  margin-left: 12px;
}

.header__button_group {
  display: flex;
}
