.modal_type_item .modal__content {
  max-width: 498px;
  max-height: 610px;
  padding: 0;  
  border-radius: 16px;
  overflow: hidden;
}

.modal_type_item .modal__close {
  top: 24px;
  right: 24px;
}

.itemModal__image {
  width: 498px;
  height: 498px;
  margin-bottom: 20px;
  display: block;
}

.itemModal__footer {
  padding: 0 32px 32px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.itemModal__caption {
  font-family: var(--font-family-cabinet);
  font-size: var(--font-size-l);
  font-weight: 700;
  line-height: 24px;
  margin: 0 0 12px 0;
}

.itemModal__weather {
  margin: 0;
  font-family: var(--font-family-cabinet);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: 24px;
}

.itemModal__delete-btn {
  font-family: var(--font-family-cabinet);
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: 1;
  border-style: none;
  background-color: transparent;
  color: #ff4d00;
  cursor: pointer;
}