.footer {
  display: flex;
  flex-direction: row;
  padding: 0 0 24px;
  justify-content: space-between;
  margin-top: auto;
}

.footer__captions {
  margin: 0px;
  font-family: var(--font-family-cabinet);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-medium);
}
